#chat-screen {
  height: 100vh;
  background-color: #abc1d1;
  overflow-x: hidden;
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  width: 100%;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  background-color: #abc1d1;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  margin-top: 120px;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 14px;
}

.message-row {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}

.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: var(--red);
}

.message__content {
  display: flex;
  align-items: flex-end;
}

.message__author {
  margin-bottom: 7px;
  display: block;
}

.message__bubble {
  padding: 13px;
  margin-right: 5px;
  border-radius: 15px;
  border-top-left-radius: 0;
  background-color: white;
  font-size: 16px;
}

.message__author,
.message__time {
  z-index: 0;
  opacity: 0.9;
  font-size: 15px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__content {
  flex-direction: row-reverse;
}

/* .message-row--own .message__bubble {
  order: 1;
}

.message-row--own .message__time {
  order: 0;
} */

.message-row--own .message__bubble {
  margin-left: 5px;
  margin-right: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  background-color: var(--yellow);
}

/* reply */
.reply {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.reply__column > i {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.reply__column:first-child {
  /* width: 8%; */
  margin-right: 15px;
}

.reply__column:last-child {
  width: 100%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  padding-left: 10px;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i {
  position: absolute;
  top: 7px;
  right: 40px;
  transition: opacity 0.3s;
}

.reply__column:last-child button {
  width: 26px;
  height: 26px;

  position: absolute;
  top: 2px;
  right: 2px;

  border: none;
  border-radius: 50%;

  background-color: var(--yellow);

  transition: opacity 0.3s;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  animation: fadeIn 1s linear;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  animation: slideFromLeft 1s ease-in-out forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.message-row--own {
  animation: slideFromRight 1s ease-in-out forwards;
}

.reply:focus-within {
  transform: translateY(80px);
}

.reply:focus-within i,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: calc(100% + 33px);
  transform: translateX(-33px) translateY(-80px);
}
