.icon-row {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  width: 25%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 15px;
  font-size: 12px;
}
