.menu-component {
  margin-bottom: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--main-border);
  color: var(--lightgray);
}

.menu-component__column--light {
  opacity: 0.8;
}
