#no-mobile {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 99;

  background-color: var(--yellow);
  color: var(--brown);
  font-size: 40px;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  #no-mobile {
    display: none;
  }
}
